{% extends 'accounts/main.html' %}

{% block body %}
    <br>

    <div class="row">
      <div class="col-md">
        <div class="card card-body">
          <h5>Products</h5>
        </div>
        <div class="card card-body">
          <table>
            <tr>
              <th><u>Products</u></th>
              <th><u>Category</u></th>
              <th><u>Price</u></th>
            </tr>

            {% for product in products %}
                <tr>
                  <td>{{ product.name }}</td>
                  <td>{{ product.category }}</td>
                  <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
{% endblock %}
