{% extends 'users/main.html' %}
{% block content %}
    <br>
    <br>
    <div class="container" >
        <div class="row">
          <div class="col-md-6 offset-md-3">
                <div class="card text-center text-white bg-dark border-0 mb-3">
                    <div class="card-header text-white bg-info">
                        <div class="card-title">
                          <h4>EMAIL SENT</h4>
                        </div>
                    </div>
                    <br>
                    <div class="card-body">
                      <p>We've emailed you instructions for setting your password, if an account exissts with the email you entered. You should recieve them shortly.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endblock %}
