{% extends 'users/main.html' %}
{% block content %}
    <br>
    <br>
    <div class="container" >
      <p class="text-center text-lg font-weight-bold">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <div class="row">
          <div class="col-md-6 offset-md-3">
                <div class="card text-center text-white bg-dark border-0 mb-3">
                    <div class="card-header text-white bg-info">
                        <div class="card-title">
                          <h4>ENTER YOUR EMAIL ID</h4>
                        </div>
                    </div>
                    <br>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                  <div class="row text-left">
                                    <div class="col-md-3 offset-md-3">
                                      {{ field.label }} :
                                    </div>
                                    <div class="col-md-6">
                                      {{ field }}
                                    </div>
                                  </div>
                                </div>
                            {% endfor %}
                            <br>
                            <button class="btn btn-info" type="submit">Send Email</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endblock %}
